/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
} */
.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.card-content a:hover{
    color: red;
}
.card{
    width: 325px;
    background-color: #8a0909;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
}
.card img{
    width: 100%;
    height: 350px;
}