* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background-color: rgb(29, 26, 26);
}

.footer-container {
    width: 100%;
    padding: 30px 30px 20px;
}

.social_icons {
    display: flex;
    justify-content: center;
}

.social_icons a {
    text-decoration: none;
    margin: 10px;
    padding: 0;
    background-color: white;
    border-radius: 75%;
}

.social_icons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.social_icons a:hover {
    background-color: brown;
}

.social_icons a:hover i {
    color: white;
}

.footer-nav {
    margin: 30px 0;
}

.footer-nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footer-nav ul li a {
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.5em;
    opacity: 0.9;
}

.footer-nav ul li a:hover {
    color: red;
}

.footer-copyright {
    background-color: black;
}

.footer-copyright p {
    color: white;
    padding: 20px;
    text-align: center;
}

@media (max-width: 700px) {
    .footer-nav ul {
        flex-direction: column;
    }

    .footer-nav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}