#checkbox {
    display: none;
}

.toggle-btn {
    display: flex;
    align-items: center;
}

.toggle-label {
    width: 6rem;
    height: 4rem;
    background-color: black;
    display: inline-block;
    position: relative;
    border-radius: 10rem;
}

.toggle-ball {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    transition: transform 0.3s ease;
}

#checkbox:checked+.toggle-label .toggle-ball {
    background-color: blue;
    transform: translateX(2rem);
}

body {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    transition: 0.4s ease-in-out;
}

